body {
    background-color: lightblue;
    color: black;
    font-family: Arial, sans-serif;
}

h1:first-of-type {
    color: yellow;
    text-align: left;
}

h2 {
    color: red;
    text-align: left;
}

input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid white;
}

button {
    background-color: yellow;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: rgb(230, 173, 173);
    color: black;
}

input:hover {
    border: 2px solid yellow;
}
#result {
    color: black;
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}

#studentList {
    color: black;
    font-size: 18px;
}